.logo {
  border-radius: 20px;
  background-color: rgb(149, 142, 184);
}

.text-bright {
  color: rgb(196, 118, 199);
}

.risk-1-gif {
  height: 400px;
}
.risk-2-gif {
  height: 300px;
}

.risk-4-gif {
  height: 450px;
}

.risk-6-gif {
  height: 480px;
}
.risk-6-r-gif {
  height: 430px;
}
.risk-9-gif .risk-10-gif {
  height: 300px;
}
